/*Alle normalen texte*/
p{
    text-align: center;
    font-family: "Calibri Light";
}
p1{
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    background-color: darkred;
    font-family: "Calibri Light";
    color: black;
    text-align: center;
    padding: 20px 640px;
    font-size: 100px;
}

p2{
    padding-left: 225px;
}

h1{
    text-align: center;
    color: darkred;
}

/*Buttons Weiblich/Männlich, Reduktionsfaktor style+verschiebung*/
#buttonWeiblich:hover{
    background-color: darkred;
}
#buttonMaennlich:hover{
    background-color: darkred;
}

#buttonWeiblich {
    margin-left: 887px;
    padding: 6px 20px;/*größe des buttons*/
    color: black; /*schriftfarbe*/
    font-family: "Calibri Light";/*schriftart*/
    font-size: 15px;/*schriftgröße*/
    border-style: solid;
    border-width: 2px;   /*festerRahmen+größe der border*/
    border-radius: 3px; /*rundet Border ab*/
    border-color: black;
    background-color: gray;
}
#buttonMaennlich{
    padding: 6px 20px;/*größe des buttons*/
    color: black; /*schriftfarbe*/
    font-family: "Calibri Light";/*schriftart*/
    font-size: 15px;/*schriftgröße*/
    border-style: solid;
    border-width: 2px;  /*festerRahmen+größe der border*/
    border-radius: 3px; /*rundet Border ab*/
    border-color: black;
    background-color: gray;
}

/*Style textfelder*/
.textfelderStyle {
    margin-left: 887px;
    font-family: "Calibri Light";
    font-size: 15px;
    color: black;
    padding: 6px 32px;
    background-color: gray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 3px;
}

.textfelderStyle:hover {
    background-color: darkred;
}

.labeltextfelder{
    font-size: 15px;
    font-family: "Calibri Light";
    color: black;
}

#ergebnisAusgabe{
    font-family: "Calibri Light";
    font-size: xx-large;

}



p4{
    color: white;
}
